H0: oi = ei

H1: oi != ei

In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_excel("C:/Users/htcso/OneDrive/Masaüstü/pythonProject/datasets/chi_square_ornek.xlsx")
data.head()

           Kilo
0        Normal
1        Kilolu
2  Aşırı Kilolu
3        Normal
4        Kilolu

In [4]:
frequency = data["Kilo"].value_counts()
frequency

Normal          13
Kilolu          10
Aşırı Kilolu     6
Name: Kilo, dtype: int64

In [7]:
chi_sq, pvalue = stats.chisquare(frequency)
print(pvalue)

0.27919018325723366