Kategorik iki değişken arasında bir ilişki olup olmadığı


H0: İlişki yoktur.

H1: İlişki vardır.

2x2 frekans tablosu testleri
----
En küçük beklenen frekans > 25 ise Pearson Ki Kare Testi

5 < En küçük beklenen frekans < 25 ise Yates Ki Kare Testi

En küçük beklenen frekans < 5 ise Fisher Ki Kare Testi

RxC frekans tablosu testleri
----
Beklenen frekansı 5'ten küçük olanların sayısı, toplam frekans içinde %20'den küçük ise Pearson Ki Kare Testi

Beklenen frekansı 5'ten küçük olanların sayısı, toplam frekans içinde %20'den büyük ise Fisher Ki Kare Testi

### 2x2 Örnek

In [2]:
import pandas as pd

In [7]:
data = pd.read_excel("C:/Users/htcso/OneDrive/Masaüstü/pythonProject/datasets/chi_sq_el.xlsx")
data.head()

  Cinsiyet   El
0    Kadın  Sağ
1    Kadın  Sağ
2    Kadın  Sağ
3    Kadın  Sağ
4    Kadın  Sağ

In [8]:
table = pd.crosstab(index=data["Cinsiyet"], columns = data["El"])
table

El        Sağ  Sol
Cinsiyet
Erkek      39    4
Kadın      48    9

In [5]:
from scipy import stats

In [9]:
test, pvalue, fd, expected_val = stats.chi2_contingency(table)
expected_val

array([[37.41,  5.59],
       [49.59,  7.41]])

In [11]:
# En küçük beklenen frekans 5.59 --> Yates Ki Kare Testi uygulanmalı.

In [12]:
# En küçük beklenen frekans > 25 varsayarsak (Pearson Ki Kare Testi);
test, pvalue, fd, expected_val = stats.chi2_contingency(table, correction=False)
pvalue

0.33958793355294253

In [13]:
# pvalue 0.33958793355294253 > 0.05 --> H0 Reddedilemez.

In [14]:
# Yates Ki Kare Testi;
test, pvalue, fd, expected_val = stats.chi2_contingency(table, correction=True)
pvalue

0.5126791767813199

In [15]:
# pvalue 0.5126791767813199 > 0.05 --> H0 Reddedilemez. Cinsiyet ve El kullanma arasında % 95 oranında ilişki yoktur.

In [16]:
# En küçük beklenen frekans < 5 varsayarsak (Fisher Ki Kare Testi);
test = stats.fisher_exact(table)
test

SignificanceResult(statistic=1.828125, pvalue=0.38516915722396994)

In [17]:
# pvalue 0.38516915722396994 > 0.05 --> H0 Reddedilemez.

### RxC Örnek

In [18]:
data_rc = pd.read_excel("C:/Users/htcso/OneDrive/Masaüstü/pythonProject/datasets/chi_sq_rc.xlsx")
data_rc.head()

  Cinsiyet Marka
0    Kadın     B
1    Kadın     C
2    Kadın     C
3    Erkek     C
4    Erkek     A

In [19]:
table_rc = pd.crosstab(index=data_rc["Cinsiyet"], columns=data_rc["Marka"])
table_rc

Marka     A  B  C  D
Cinsiyet
Erkek     1  1  3  1
Kadın     3  4  6  5

In [21]:
test, pvalue, fd, expected_vals = stats.chi2_contingency(table_rc)
expected_vals

array([[1.  , 1.25, 2.25, 1.5 ],
       [3.  , 3.75, 6.75, 4.5 ]])

In [23]:
less = []
sum_ = []

for i in expected_vals:
    for j in i:
        if j < 5:
            less.append(j)
        sum_.append(j)
        
len(less) /  len(sum_)

0.875

In [24]:
# Beklenen frekans 0.875
# Beklenen frekansı 5'ten küçük olanların sayısı, toplam frekans içinde %20'den büyük old. için Fisher Ki Kare Testi uygulanmalı

In [25]:
# Pearson Ki Kare Testi;
test, pvalue, fd, expected_vals = stats.chi2_contingency(table_rc, correction=False)
pvalue

0.8913267885846314

In [29]:
# Fisher Ki Kare Testi;
# Yaygın değildir.
# Python'da yerleşik bir fonksiyon yoktur. SPSS ya da R kodları kullanlabililir